<div class="common-footer">
    <div class="common-footer__inner">
        <div class="common-footer__contents">
            <div class="common-footer__logo">
                <img src="<%= rootURL %>/assets/img/marutatsu-logo.png" alt="">
            </div>
            <div class="common-footer__right">
                <div class="common-footer__feature">
                    <div class="common-footer__feature-all common-footer__headline">
                        <a href="">
                            <p>記事一覧</p>
                            <%- include('../_parts/_white-black-arrow.ejs') %>
                        </a>
                    </div>
                    <ul class="common-footer__feature-lists common-footer__links">
                        <li class="common-footer__link">
                            <a href="">
                                販促品のハテナ
                            </a>
                        </li>
                        <li class="common-footer__link">
                            <a href="">
                                販促品のオススメ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="common-footer__item">
                    <div class="common-footer__item-all common-footer__headline">
                        <a href="">
                            <p>商品ラインナップ</p>
                            <%- include('../_parts/_white-black-arrow.ejs') %>
                        </a>
                    </div>
                    <div class="common-footer__item-lists-wrap">
                        <ul class="common-footer__item-lists common-footer__links">
                            <li class="common-footer__link">
                                <a href="">
                                    バッグ
                                </a>
                            </li>
                            <li class="common-footer__link">
                                <a href="">
                                    ポーチ
                                </a>
                            </li>
                            <li class="common-footer__link">
                                <a href="">
                                    アクティブ
                                </a>
                            </li>
                            <li class="common-footer__link">
                                <a href="">
                                    ライト
                                </a>
                            </li>
                        </ul>
                        <ul class="common-footer__item-lists common-footer__links">
                            <li class="common-footer__link">
                                <a href="">
                                    モバイル・ステーショナリー
                                </a>
                            </li>
                            <li class="common-footer__link">
                                <a href="">
                                    ドリンクウェア
                                </a>
                            </li>
                            <li class="common-footer__link">
                                <a href="">
                                    ライセンス商品
                                </a>
                            </li>
                            <li class="common-footer__link">
                                <a href="">
                                    タオル
                                </a>
                            </li>
                        </ul>
                        <ul class="common-footer__item-lists common-footer__links">
                            <li class="common-footer__link">
                                <a href="">
                                    キッチン
                                </a>
                            </li>
                            <li class="common-footer__link">
                                <a href="">
                                    食品ギフト
                                </a>
                            </li>
                            <li class="common-footer__link">
                                <a href="">
                                    生活雑貨
                                </a>
                            </li>
                            <li class="common-footer__link">
                                <a href="">
                                    日用品
                                </a>
                            </li>
                        </ul>
                        <ul class="common-footer__item-lists common-footer__links">
                            <li class="common-footer__link">
                                <a href="">
                                    春・夏シーズン
                                </a>
                            </li>
                            <li class="common-footer__link">
                                <a href="">
                                    秋・冬シーズン
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="common-footer__service">
                    <div class="common-footer__service-all common-footer__headline">
                        <a href="">
                            <p>サービス一覧</p>
                            <%- include('../_parts/_white-black-arrow.ejs') %>
                        </a>
                    </div>
                    <ul class="common-footer__service-lists1 common-footer__links">
                        <li class="common-footer__link">
                            <a href="">
                                カタログ
                            </a>
                        </li>
                        <li class="common-footer__link">
                            <a href="">
                                名入れ
                            </a>
                        </li>
                        
                    </ul>
                    <ul class="common-footer__service-lists common-footer__links">
                        <li class="common-footer__link">
                            <a href="">
                                追加作業
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="common-footer__contact-wrap">
                    <div class="common-footer__contact common-footer__headline">
                        <a href="">
                            <p>お問い合わせ</p>
                            <%- include('../_parts/_white-black-arrow.ejs') %>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="common-footer__bottom">
            <div class="common-footer__company-wrap">
                <div class="common-footer__company">
                    <a href="">
                        <p>運営会社</p>
                        <span><img src="<%= rootURL %>/assets/img/footer-arrow.png" alt=""></span>
                    </a>
                </div>
                <div class="common-footer__company">
                    <a href="">
                    <p>プライバシーポリシー</p>
                    <span><img src="<%= rootURL %>/assets/img/footer-arrow.png" alt=""></span>
                    </a>
                </div>
            </div>
            <p class="common-footer__copyright en">
                Copyright Marutatsu Co.,Ltd. All rights reserved.
            </p>
        </div>
    </div>
</div>