<div class="marutatsu-top__wrapper">
    <%- include('./_common-header/_header-pc.ejs') %>
    <%- include('./_common-header/_header-sp.ejs') %>
    <%- include('./_contents/_top.ejs') %>
    <%- include('./_contents/_tag.ejs') %>
    <div class="main">
        <%- include('./_contents/_pickup.ejs') %>
        <%- include('./_contents/_lineup.ejs') %>
        <%- include('./_contents/_service.ejs') %>
        <%- include('./_contents/_ranking.ejs') %>
        <%- include('./_contents/_contact.ejs') %>
    </div>
    <%- include('./_common-footer/_footer.ejs') %>
</div>
