<section class="top-contact top-section move">
    <div class="top-contact_line">
        <span><img src="<%= rootURL %>/assets/img/novelty.png" alt=""></span>
        <span><img src="<%= rootURL %>/assets/img/novelty.png" alt=""></span>
        
    </div>
    
    <div class="top-contact-inner">
        <div class="top-contact-svg pc">
            <%- include('../svg/_svg-contact.ejs') %>
        </div>
        <div class="top-contact-svg sp">
            <%- include('../svg/_svg-contact-sp.ejs') %>
        </div>
        <div class="top-section__headline">
            <p class="top-section__subtitle">
                お問い合わせ
            </p>    
            <p class="top-section__title">
                <span>C</span>
                <span>o</span>
                <span>n</span>
                <span>t</span>
                <span>a</span>
                <span>c</span>
                <span>t</span>
            </p>    
        </div>
        <ul class="top-other-links fadein">
            <li class="other-links other-link1">
                <a href="">
                    丸辰へのお問い合わせ
                    <%- include('../_parts/_white-black-arrow.ejs') %>
                </a>
            </li>
            <li class="other-links other-link2">
                <a href="">
                    丸辰へのお問い合わせ
                    <span>
                        <img src="<%= rootURL %>/assets/img/blue_arrow.png" alt="">
                        <img class="black" src="<%= rootURL %>/assets/img/blue_arrow-hover.png" alt="">
                    </span>
                </a>
            </li>
        </ul>
    </div>

</section>