<section class="top-lineup top-section">
    <div class="top-lineup-svg pc top-section-svg">
        <%- include('../svg/_svg-lineup.ejs') %>
    </div>
    <div class="top-lineup-svg sp top-section-svg">
        <%- include('../svg/_svg-lineup-sp.ejs') %>
    </div>
    <div class="top-section__headline">
        <p class="top-section__subtitle">
            丸辰のオリジナル販促品ブランド
        </p>    
        <p class="top-section__title">
            <span>L</span>
            <span>i</span>
            <span>n</span>
            <span>e</span>
            <span>u</span>
            <span>p</span>
        </p>    
    </div>
    <div class="lineup-all-link_btn fadein">
        <a href="">
            商品を詳しく見る
            <%- include('../_parts/_black-white-arrow.ejs') %>
        </a>
    </div>
    
    <div class="lineup-swiper swiper fadein">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="<%= rootURL %>/assets/img/top/lineup_1.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="<%= rootURL %>/assets/img/top/lineup_2.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="<%= rootURL %>/assets/img/top/lineup_3.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="<%= rootURL %>/assets/img/top/lineup_4.png" alt="">
            </div>
        </div>
    </div>    
    <ul class="lineup-main_links fadein">
        <li>
            <a href="">
                モシモニソナエル
                <%- include('../_parts/_black-white-arrow.ejs') %>
            </a>
        </li>
        <li>
            <a href="">
                グランゴールド
                <%- include('../_parts/_black-white-arrow.ejs') %>
            </a>
        </li>
        <li>
            <a href="">
                CAMPS<br class="sp">(キャンプス)
                <%- include('../_parts/_black-white-arrow.ejs') %>
            </a>
        </li>
        <li>
            <a href="">
                リル【Re.l】
                <%- include('../_parts/_black-white-arrow.ejs') %>
            </a>
        </li>
    </ul>

    <div class="lineup-allitem__accordion accordion fadein">
        <div class="wrapper">
            <div class="inner">
                <dl class="accordion_block">
                    <div class="accordion_block_unit">
                        <dt class="question">
                            <p>商品一覧はこちら</p>
                            <span></span>
                        </dt>
                        <dd class="answer">
                            <div class="answer_block">
                                <ul class="answer_block_unit">
                                    <li>
                                        <a href="">
                                            <p>
                                                バッグ
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <p>
                                                ポーチ
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <p>
                                                アクティブ
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <p>
                                                ライト
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>

                                    <!-- 2段目 -->
                                     <li>
                                        <a href="">
                                            <p>
                                                モバイル・<br>ステーショナリー
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <p>
                                                ドリンクウェア
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <p>
                                                ライセンス商品
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <p>
                                                タオル
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <!-- ３段目 -->
                                     <li>
                                        <a href="">
                                            <p>
                                                キッチン
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <p>
                                                生活雑貨
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <p>
                                                食品ギフト
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <p>
                                                日用品
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>

                                    <!-- 4段目 -->
                                     <li>
                                        <a href="">
                                            <p>
                                                春・夏シーズン
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <p>
                                                秋・冬シーズン
                                            </p>
                                            <span>
                                                <img src="<%= rootURL %>/assets/img/top/black_arrow.png" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="pc"></li>
                                    <li class="pc"></li>
                                </ul>
                            </div>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</section>



