<section class="top-pickup top-section">
    <div class="top-pickup-svg top-section-svg">
        <%- include('../svg/_svg-pickup.ejs') %>
    </div>
    <div class="top-section__headline">
        <p class="top-section__subtitle">
            気になる記事をピックアップ！
        </p>    
        <p class="top-section__title">
            <span>P</span>
            <span>i</span>
            <span>c</span>
            <span>k</span>
            <span>u</span>
            <span>p</span>
        </p>    
    </div>
    <div class="pickup-wrapper fadein"> 
        <!-- left -->
        <div class="pickup-main">
            <a href="">
                <div class="pickup-main__thumb">
                    <img src="<%= rootURL %>/assets/img/dummy/dummy_7.jpg" alt="">
                </div>
                <div class="pickup-main__tag-wrap">
                    <div class="pickup-main_tag">
                        ＃活用場面
                    </div>
                </div>
                <p class="pickup-main__title pickupmain-truncate">
                    春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭りひな祭りひな祭りひひな祭りひな祭りひ...
                </p>
                <p class="pickup-main__date en">
                    2024.01.20
                </p>
            </a>
        </div>

        <!-- right -->
        
        <div class="pickup-lists__wrap">
            <ul class="pickup-lists__inner">
                <li>
                    <a href="">
                        <div class="pickup-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_2.jpg" alt="">
                        </div>
                        <div class="pickup-detail">
                            <div class="pickup-detail__tag-wrap">
                                <div class="pickup-detail__tag">
                                    #カテゴリー
                                </div>
                                <div class="pickup-detail__tag">
                                    #季節
                                </div>
                            </div>
                            <p class="pickup-detail__title pickuptruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひ...
                            </p>
                            <p class="pickup-detail__date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="pickup-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_3.jpg" alt="">
                        </div>
                        <div class="pickup-detail">
                            <div class="pickup-detail__tag-wrap">
                                <div class="pickup-detail__tag">
                                    #カテゴリー
                                </div>
                                <div class="pickup-detail__tag">
                                    #季節
                                </div>
                            </div>
                            <p class="pickup-detail__title pickuptruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひ...
                            </p>
                            <p class="pickup-detail__date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="pickup-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_4.jpg" alt="">
                        </div>
                        <div class="pickup-detail">
                            <div class="pickup-detail__tag-wrap">
                                <div class="pickup-detail__tag">
                                    #カテゴリー
                                </div>
                                <div class="pickup-detail__tag">
                                    #季節
                                </div>
                            </div>
                            <p class="pickup-detail__title pickuptruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひ...
                            </p>
                            <p class="pickup-detail__date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="look-all-feature fadein">
        <a href="">
            記事一覧をみる
            <%- include('../_parts/_white-black-arrow.ejs') %>
        </a>
    </div>
</section>