<section class="top-ranking top-section move">
    <div class="top-ranking-svg pc top-section-svg">
        <%- include('../svg/_svg-ranking.ejs') %>
    </div>
    <div class="top-ranking-svg sp top-section-svg">
        <%- include('../svg/_svg-ranking-sp.ejs') %>
    </div>
    <div class="top-section__headline">
        <p class="top-section__subtitle">
            人気記事ランキング
        </p>    
        <p class="top-section__title">
            <span>R</span>
            <span>a</span>
            <span>n</span>
            <span>k</span>
            <span>i</span>
            <span>n</span>
            <span>g</span>
        </p>    
    </div>
    <div class="ranking-tab-area fadein">
        <div class="ranking-tab-container">
            <span class="tab-bg"></span>
            <div class="en ranking-tab ranking-tab-first active">1 - 5</div>
            <div class="en ranking-tab ranking-tab-second">6 - 10</div>
        </div>
    </div>
    <div class="ranking-content-container fadein">
        <div class="ranking-content show">
            <ul class="ranking-content-list">
                <li>
                    <a href="">
                        <p class="ranking-num en">
                            1
                        </p>
                        <div class="ranking-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_1.jpg" alt="">
                        </div>
                        <div class="rankign-detail">
                            <div class="ranking-tag-wrap">
                                <div class="ranking-tag">
                                    ＃カテゴリー
                                </div> 
                                <div class="ranking-tag">
                                    ＃季節
                                </div> 
                            </div>
                            <p class="ranking-text rankingtruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭り...
                            </p>
                            <p class="ranking-date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p class="ranking-num en">
                            2
                        </p>
                        <div class="ranking-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_2.jpg" alt="">
                        </div>
                        <div class="rankign-detail">
                            <div class="ranking-tag-wrap">
                                <div class="ranking-tag">
                                    ＃カテゴリー
                                </div> 
                                <div class="ranking-tag">
                                    ＃季節
                                </div> 
                            </div>
                            <p class="ranking-text rankingtruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭り...
                            </p>
                            <p class="ranking-date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p class="ranking-num en">
                            3
                        </p>
                        <div class="ranking-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_3.jpg" alt="">
                        </div>
                        <div class="rankign-detail">
                            <div class="ranking-tag-wrap">
                                <div class="ranking-tag">
                                    ＃カテゴリー
                                </div> 
                                <div class="ranking-tag">
                                    ＃季節
                                </div> 
                            </div>
                            <p class="ranking-text rankingtruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭り...
                            </p>
                            <p class="ranking-date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p class="ranking-num en">
                            4
                        </p>
                        <div class="ranking-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_4.jpg" alt="">
                        </div>
                        <div class="rankign-detail">
                            <div class="ranking-tag-wrap">
                                <div class="ranking-tag">
                                    ＃カテゴリー
                                </div> 
                                <div class="ranking-tag">
                                    ＃季節
                                </div> 
                            </div>
                            <p class="ranking-text rankingtruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭り...
                            </p>
                            <p class="ranking-date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p class="ranking-num en">
                            5
                        </p>
                        <div class="ranking-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_5.jpg" alt="">
                        </div>
                        <div class="rankign-detail">
                            <div class="ranking-tag-wrap">
                                <div class="ranking-tag">
                                    ＃カテゴリー
                                </div> 
                                <div class="ranking-tag">
                                    ＃季節
                                </div> 
                            </div>
                            <p class="ranking-text rankingtruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭り...
                            </p>
                            <p class="ranking-date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ranking-content">
            <ul class="ranking-content-list">
                <li>
                    <a href="">
                        <p class="ranking-num en">
                            6
                        </p>
                        <div class="ranking-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_1.jpg" alt="">
                        </div>
                        <div class="rankign-detail">
                            <div class="ranking-tag-wrap">
                                <div class="ranking-tag">
                                    ＃カテゴリー
                                </div> 
                                <div class="ranking-tag">
                                    ＃季節
                                </div> 
                            </div>
                            <p class="ranking-text rankingtruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭り...
                            </p>
                            <p class="ranking-date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p class="ranking-num en">
                            7
                        </p>
                        <div class="ranking-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_2.jpg" alt="">
                        </div>
                        <div class="rankign-detail">
                            <div class="ranking-tag-wrap">
                                <div class="ranking-tag">
                                    ＃カテゴリー
                                </div> 
                                <div class="ranking-tag">
                                    ＃季節
                                </div> 
                            </div>
                            <p class="ranking-text rankingtruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭り...
                            </p>
                            <p class="ranking-date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p class="ranking-num en">
                            8
                        </p>
                        <div class="ranking-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_3.jpg" alt="">
                        </div>
                        <div class="rankign-detail">
                            <div class="ranking-tag-wrap">
                                <div class="ranking-tag">
                                    ＃カテゴリー
                                </div> 
                                <div class="ranking-tag">
                                    ＃季節
                                </div> 
                            </div>
                            <p class="ranking-text rankingtruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭り...
                            </p>
                            <p class="ranking-date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p class="ranking-num en">
                            9
                        </p>
                        <div class="ranking-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_5.jpg" alt="">
                        </div>
                        <div class="rankign-detail">
                            <div class="ranking-tag-wrap">
                                <div class="ranking-tag">
                                    ＃カテゴリー
                                </div> 
                                <div class="ranking-tag">
                                    ＃季節
                                </div> 
                            </div>
                            <p class="ranking-text rankingtruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭り...
                            </p>
                            <p class="ranking-date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p class="ranking-num en">
                            10
                        </p>
                        <div class="ranking-thumb">
                            <img src="<%= rootURL %>/assets/img/dummy/dummy_6.jpg" alt="">
                        </div>
                        <div class="rankign-detail">
                            <div class="ranking-tag-wrap">
                                <div class="ranking-tag">
                                    ＃カテゴリー
                                </div> 
                                <div class="ranking-tag">
                                    ＃季節
                                </div> 
                            </div>
                            <p class="ranking-text rankingtruncate">
                                春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭り...
                            </p>
                            <p class="ranking-date en">
                                2024.01.20
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

