<section class="top-service top-section move">
    <div class="service-left">
        <div class="top-service-svg pc top-section-svg">
            <%- include('../svg/_svg-service.ejs') %>
        </div>
        <div class="top-service-svg sp top-section-svg">
            <%- include('../svg/_svg-service-sp.ejs') %>
        </div>
        <div class="top-section__headline">
            <p class="top-section__subtitle">
                丸辰のオリジナル販促品ブランド
            </p>    
            <p class="top-section__title">
                <span>S</span>
                <span>e</span>
                <span>r</span>
                <span>v</span>
                <span>i</span>
                <span>c</span>
                <span>e</span>
            </p>    
        </div>
        <p class="service-lead fadein">
            『グランゴールド』シリーズは、貰った方の気分を高揚させる、まばゆいゴールドカラーのギフトボックス入り。販促イベントで、この金箱を積み上げディスプレイする
        </p>
        <ul class="service-list fadein pc">
            <li>
                <a href="">
                    <p class="service-list__num en">
                        01
                    </p>
                    <p class="service-list__category">
                        カタログ
                    </p>
                    <span class="service-list__arrow">
                        <img src="<%= rootURL %>/assets/img/black_arrow.png" alt="">
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="service-list__num en">
                        02
                    </p>
                    <p class="service-list__category">
                        名入れ
                    </p>
                    <span class="service-list__arrow">
                        <img src="<%= rootURL %>/assets/img/black_arrow.png" alt="">
                    </span>
                </a>
            </li>
            <li>
                <a href="">
                    <p class="service-list__num en">
                        03
                    </p>
                    <p class="service-list__category">
                        追加作業
                    </p>
                    <span class="service-list__arrow">
                        <img src="<%= rootURL %>/assets/img/black_arrow.png" alt="">
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="service-right fadein">
        <ul class="service-category-list">
            <li class="service-category">
                <a href="">
                    <p class="category-name">
                        <span class="category-arrow">
                            <img src="<%= rootURL %>/assets/img/black_arrow.png" alt="">
                        </span>
                        カタログ
                    </p>
                    <img src="<%= rootURL %>/assets/img/service_1.png" alt="">
                </a>
            </li>
            <li class="service-category">
                <a href="">
                    <p class="category-name">
                        <span class="category-arrow">
                            <img src="<%= rootURL %>/assets/img/black_arrow.png" alt="">
                        </span>                        
                        名入れ
                    </p>
                    <img src="<%= rootURL %>/assets/img/service_2.png" alt="">
                </a>
            </li>
            <li class="service-category">
                <a href="">
                    <p class="category-name">
                        <span class="category-arrow">
                            <img src="<%= rootURL %>/assets/img/black_arrow.png" alt="">
                        </span>                        
                        追加作業
                    </p>
                    <img src="<%= rootURL %>/assets/img/service_3.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>