<div class="hello-marutatsu-top">
    <div class="top-svg pc">
        <%- include('../svg/_svg-top.ejs') %>
    </div>
    <div class="top-svg sp">
        <%- include('../svg/_svg-top-sp.ejs') %>
    </div>
    <div class="hello-marutatsu-top__title sp">
        <h1 class="hello-marutatsu-top__headline en">
            <span class="letter">H</span>
            <span class="letter">e</span>
            <span class="letter">l</span>
            <span class="letter">l</span>
            <span class="letter">o&nbsp;</span>
            <span class="letter">N</span>
            <span class="letter">o</span>
            <span class="letter">v</span>
            <span class="letter">e</span>
            <span class="letter">l</span>
            <span class="letter">t</span>
            <span class="letter">y</span>
            <span class="letter">!</span>
        </h1>
        <p class="hello-marutatsu-top__lead">
            販促品•ノベルティ の専門メーカー<br>
            丸辰が役立つ情報をお届けします。
        </p>
    </div>
    <div class="swiper-container-wrapper">
        <div class="hello-marutatsu-top__title pc">
            <h1 class="hello-marutatsu-top__headline en">
                <span class="headline-flex">
                    <span class="letter">H</span>
                    <span class="letter">e</span>
                    <span class="letter">l</span>
                    <span class="letter">l</span>
                    <span class="letter">o&nbsp;</span>
                </span>
                <span class="headline-flex">
                    <span class="letter">N</span>
                    <span class="letter">o</span>
                    <span class="letter">v</span>
                    <span class="letter">e</span>
                    <span class="letter">l</span>
                    <span class="letter">t</span>
                    <span class="letter">y</span>
                    <span class="letter">!</span>
                </span>
            </h1>
            <p class="hello-marutatsu-top__lead">
                販促品•ノベルティ の専門メーカー<br>
                丸辰が役立つ情報をお届けします。
            </p>
        </div>

        <div class="top-swiper__tag-title">
            <div class="top-swiper__tag-inner">
                <div class="top-swiper__tag">
                    <a href="">
                        #活用場面
                    </a>
                </div>
                <div class="top-swiper__tag">
                    <a href="">
                        #カテゴリー
                    </a>
                </div>
            </div>
            <div class="top-swiper__title-inner">
                <div class="top-swiper__title">
                    <span class="toptruncate">
                    春の販促トレンドとおすすめノベルティ【2025年度版】｜ひな祭りひな祭りひな祭り...
                    </span>
                </div>
                <p class="top-swiper__date en">
                    2024.01.20
                </p>
            </div>
        </div>
        
        <div class="side-pagination">
            <button class="swiper-button-prev"></button>
            <div class="custom-fraction pc en"><span class="current">1</span> / <span class="total">5</span></div>
            <button class="swiper-button-next"></button>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/dummy/dummy_1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/dummy/dummy_2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/dummy/dummy_3.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/dummy/dummy_4.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/dummy/dummy_5.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="swiper-pagination my-swiper-pagination"></div>
    </div>
    <div class="top-swiper__thumbnail">
        <div class="swiper swiper-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/dummy/dummy_1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/dummy/dummy_2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/dummy/dummy_3.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/dummy/dummy_4.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="<%= rootURL %>/assets/img/dummy/dummy_5.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


