<div class="common-header__menu-btn sp">
    <p class="menu en">
        Menu
    </p>
    <span class="plus"></span>
</div>
<div class="common-header sp-common-header sp">
    
    <div class="sp-common-header__menu-contents">
        <div class="sp-common-header__menu-inner">
            <div class="sp-common-header__headline">
                <p>記事一覧</p>
                <span><img src="<%= rootURL %>/assets/img/black_arrow.png" alt=""></span>
            </div>
            <ul class="sp-common-header__linklists">
                <li>
                    <a href="">
                        <span></span>
                        <p>販促品のハテナ</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>販促品のオススメ</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sp-common-header__menu-inner">
            <div class="sp-common-header__headline">
                <p>商品ラインナップ</p>
                <span><img src="<%= rootURL %>/assets/img/black_arrow.png" alt=""></span>
            </div>
            <ul class="sp-common-header__linklists">
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        モシモニソナエル
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        アクティブ・レジャー
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        キャンプス
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        バッグ
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        モシモニソナエル
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        アクティブ・レジャー
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        キャンプス
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        バッグ
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        モシモニソナエル
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        アクティブ・レジャー
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        キャンプス
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        バッグ
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sp-common-header__menu-inner">
            <div class="sp-common-header__headline">
                <p>サービス</p>
                <span><img src="<%= rootURL %>/assets/img/black_arrow.png" alt=""></span>
            </div>
            <ul class="sp-common-header__linklists">
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        カタログ
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        名入れ
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span></span>
                        <p>
                        追加作業
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sp-common-header__menu-inner">
            <div class="sp-common-header__headline">
                <p>お問い合わせ</p>
                <span><img src="<%= rootURL %>/assets/img/black_arrow.png" alt=""></span>
            </div>
        </div>
        <div class="marutatsu_logo">
            <span><img src="<%= rootURL %>/assets/img/marutatsu-logo-blue.png" alt=""></span>
        </div>
        
        <div class="common-header__company-wrap">
            <div class="common-header__company">
                <a href="">
                    <p>運営会社</p>
                    <span><img src="<%= rootURL %>/assets/img/company-arrow-black.png" alt=""></span>
                </a>
            </div>
            <div class="common-header__company">
                <a href="">
                <p>プライバシーポリシー</p>
                <span><img src="<%= rootURL %>/assets/img/company-arrow-black.png" alt=""></span>
                </a>
            </div>
        </div>
        <p class="common-header__copyright en">
            Copyright Marutatsu Co.,Ltd. All rights reserved.
        </p>
        
    </div>
</div>